---
---
{% include head.html %}

    <title>
        WisdomGroup - Chicago Ruby on Rails. Web Apps. iPhone Apps. iPad Apps.
    </title>

  <body>
    
  <header>
    <h1>
      <a href="/" class="ir">WisdomGroup</a>
    </h1>

    {% include navigation.html %}

  </header>
  
  <main>

<section id="intro">
  <h1>8th Light Acquires WisdomGroup.</h1>
  
  <h2 class="h2-link"><a href="/8thlight">Learn more about our next chapter.</a></h2>
</section>

<section id="case_studies">
  
  <ul class="cs_nav">
    
      <li class="singles-travel-international">
        <a href="/case-studies/singles-travel-international/"><img src="/assets/airplane.svg">
        <h1>Online Commerce</h1></a>
        <p><strong>Singles Travel International (STI)</strong> targets a niche in the travel market: Singles who travel alone. STI solves their problems by gathering travelers into groups and negotiating superior deals. The company needed a better way to manage client relationships.</p>

      </li>
    
      <li class="texas-am-university">
        <a href="/case-studies/texas-am-university/"><img src="/assets/mesh.svg">
        <h1>High Performance Computing</h1></a>
        <p>Engineering professors at <strong>Texas A&amp;M University (TAMU)</strong> work with the next generation of supercomputers: Systems with 100,000 processors or more. The professors needed a better way to manage and share research results with colleagues.</p>

      </li>
    
      <li class="cathedralshelter">
        <a href="/case-studies/revivecenter/"><img src="/assets/gift.png">
        <h1>Client Management</h1></a>
        <p><strong>ReVive Center for Housing and Healing</strong> (formerly Cathedral Shelter of Chicago) has provided critical services to Chicago families since 1915. The agency needed a better, highly intuitive way to manage thousands of client and donor records.</p>

      </li>
    
  </ul>
</section>

<section id="teamwork">
  <header>
    <h1>Producing Results for You</h1>

    <h2>You know your business. WisdomGroup knows software.
    Our team will work with your team to build great results for you.</h2>
  </header>

  <section>
    <h3>Design</h3>
    <p>Steve Jobs said it best: &#8220;Design is not just what [a product] looks like and feels like. Design is how it works.&#8221; A well-designed commerce app will make it easy for the customer to buy. Our apps use design to solve problems and generate revenue. Let's put those skills to work for you.</p>
  </section>

  <section>
    <h3>Development</h3>
    <p>When designers and developers work together toward a shared goal, the results are amazing. WisdomGroup uses the <a href="/blog/a-business-view-of-ruby-on-rails/">Ruby on Rails</a> framework to develop web apps. Using Rails enables us to deliver a better product for you and your team. Our current clients like our results. You will, too.</p>
  </section>

  <section>
    <h3>Growth</h3>
    <p>Everyone wins when a business succeeds. Customers get the products and services that they need, and companies earn money for future growth. Are you ready to move forward with your next software project? If you have questions, you might start with <a href="/blog/answers-for-business-leaders/">Answers for Business Leaders</a>.</p>
  </section>
</section> 

<section id="community">
  <div>
    <header>
      <h1>Tech Community Leadership</h1>
      <h2>WisdomGroup leads technology communities in the USA and the Caribbean. Our work includes...</h2>
    </header>

    <section id="community_cr">
      <h3><a href="http://chicagoruby.org" class="ir">ChicagoRuby</a></h3>
    <p>ChicagoRuby is a group of Ruby and Rails enthusiasts. WisdomGroup assumed leadership of a local Ruby user group in 2007. We changed the group's name to ChicagoRuby, boosted membership, and merged with Chicago&#8217;s other Ruby user group, <a href="http://www.chicagoruby.org/about/history/">Chirb</a>. Today ChicagoRuby hosts six events each month plus conferences in the USA and the Caribbean.</p> 
    <p>Growth strategy: <a href="http://rayhightower.com/blog/2014/05/30/how-to-grow-a-user-group/">How to Start and Grow a User Group</a>.</p>
    </section>

    <section id="community_wcr">
      <h3><a href="http://windycityrails.com" class="ir">WindyCityRails</a></h3>
      <p>WindyCityRails is an annual conference for all who are passionate about Rails, Ruby, and related technologies. WisdomGroup created WindyCityRails in 2008. The conference attracts people from many facets of the software industry: Developers, designers, entrepreneurs, and investors. <a href="http://windycityrails.com/videos">Presentation videos</a> will give you a feel for the content.</p>
      <p><a href="http://windycityrails.com">WindyCityRails</a> is held every year in September.</p>
    </section>
    
    <section id="community_wct">
      <h3><a href="http://windycitythings.com" class="ir">WindyCityThings</a></h3>
      <p>WindyCityThings is an <a href="http://windycitythings.com">Internet of Things (IoT) conference</a> that cuts through the hype to deliver actionable information right now. Where should you focus your time & energy in the IoT space? What do you need to learn? How do you get your product built? Build your network and get answers at WindyCityThings.</p>
      <p>Feel the excitement of WindyCityThings in this <a href="https://windycitythings.com/recap/2016">3-minute video</a>. </p>
    </section>
    
    <section id="community_rc">
      <h3><a href="http://rubycaribe.com" class="ir">RubyCaribe</a></h3>
      <p>Based in the Caribbean, <a href="http://rubycaribe.com">RubyCaribe</a> (pronounced ka-REEB) is a conference for software developers who use Ruby. While creating RubyCaribe, WisdomGroup established a collaborative relationship with the <a href="http://cavehill.uwi.edu/">University of the West Indies (UWI)</a> which led to the founding of the <a href="http://linuxbarbados.org">LinuxBarbados</a> user group.</p>
    </section>
    
    <section id="community_lb">
      <h3><a href="http://linuxbarbados.org" class="ir">LinuxBarbados</a></h3>
      <p>LinuxBarbados meets monthly at UWI and online. Live video is is available for members who are not based in Barbados. The membership and agenda are eclectic: Some professionals, some students, always thirsty to learn and share knowledge. Join the group at <a href="http://linuxbarbados.org">LinuxBarbados.org</a>.</p>
    </section>
  </div>
</section>

<section id="words">
  <header>
    <h1>Shared Learning</h1>
    <h2>Knowledge leaders thrive on inspiration, insight, and information.
    This section is a collection of the three.</h2>
  </header>

  
  <ul class="words_nav">
    
      <li>
        <h3><a class="article_btn " href="/blog/answers-for-business-leaders/">
        <img src="/assets/Answers.svg"> Answers</a></h3>
        <p>Sometimes hiring a software developer is overkill. As a business leader, you have goals to achieve in a limited amount of time. Will a web or mobile app really make money for your company? Or should you focus your attention elsewhere?</p>
      </li>
    
      <li>
        <h3><a class="article_btn " href="/blog/10000-hours-of-practice/">
        <img src="/assets/10_000hrs.svg"> 10,000 Hours</a></h3>
        <p>Experts have something in common: 10,000 hours of practice. Malcolm Gladwell studied the lives of  successful people to find out how they did it. This article contains examples from Gladwell’s research.</p>
      </li>
    
      <li>
        <h3><a class="article_btn " href="/blog/a-business-view-of-ruby-on-rails/">
        <img src="/assets/Business_View.svg"> Ruby on Rails</a></h3>
        <p>For smart people with non-IT backgrounds: If you want to understand Ruby on Rails, this article is for you. Of course, only disciplined practice will turn a novice into an expert. This piece will make a novice conversant.</p>
      </li>
  </ul>
</section>

</main>

{% include footer_contact.html %}
<!-- gh-pages version -->
</body>
</html>
