---
---
{% include head.html %}

  <head>    
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
      
        ReVive Center for Housing and Healing - WisdomGroup
      
    </title>
    
    <meta name="description" content="WisdomGroup builds web and mobile apps.">
    
    <link rel="shortcut icon" href="/theme/519bad4a8ad7ca7da70024d3/media/favicon.ico" type="image/ico" />
    <link rel="apple-touch-icon" href="/theme/519bad4a8ad7ca7da70024d3/stylesheets/images/apple-touch-icon.png" />
    
    <link href='http://fonts.googleapis.com/css?family=Lora:400,400italic|Ubuntu:400,500,700|Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href="/theme/519bad4a8ad7ca7da70024d3/stylesheets/style,fancybox.css" rel="stylesheet" type="text/css" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="/theme/519bad4a8ad7ca7da70024d3/javascripts/modernizr,fancybox,script.js" type="text/javascript"></script>
  </head>
  <body>
    
  <header>
    <h1>
      <a href="/" class="ir">WisdomGroup</a>
    </h1>

    <nav>
      <ul id="nav">
        <li id="nav-case">
          <a href="/#case_studies">Case Studies</a>
        </li>
        <li id="nav-teamwork">
          <a href="/#teamwork">Teamwork</a>
        </li>
        <li id="nav-community">
          <a href="/#community">Community</a>
        </li>
        <li id="nav-words">
          <a href="/#words">Words Of</a>
        </li>
        <li id="nav-contact">
         <a href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
  </header>
  
  <main>

<article class="cs cathedralshelter">
  <header>
    <h1>ReVive Center for Housing and Healing</h1>
    <p>ReVive Center for Housing and Healing (formerly Cathedral Shelter of Chicago) has provided critical services to Chicago families since 1915. The agency needed a better, highly intuitive way to manage thousands of client and donor records.</p>
  </header>
  
  <div>
    <section>
      <h2 id="challenge">Challenge</h2>
<p>It’s an unfortunate fact that many low income families in Chicago have no means to provide Christmas gifts for their children. The Christmas Baskets program allows generous donors to provide Christmas gifts for nearly 2,000 low income families, seniors, and homeless individuals. Managing such a large program is no easy task, and Cathedral Shelter approached WisdomGroup when their existing management system was proving highly inefficient.</p>

<p>At the time, family and donor information was tracked in an Access database stored on a single computer in ReVive Center’s office. The database was largely a “flat design”, making it very difficult to perform searches and generate reports. The assignment of donors and families was managed with separate Excel spreadsheets that were emailed back and forth amongst employees and volunteers.</p>

<h2 id="solution">Solution</h2>
<p>After thoroughly understanding the requirements of the program and identifying pain points in the existing system, WisdomGroup developed a modern Ruby on Rails application to manage the entire program. Employees and volunteers can now manage data from anywhere with an Internet connection. A fully integrated, intelligent assignment system makes it easier than ever to match donors with families. The creation of forms and reports that used to involve several complex steps can now be generated with just a few clicks.</p>

<p>Building the app didn’t just involve creating a solid back-end architecture. WisdomGroup worked closely with ReVive Center to develop a design that made it easy to search for families and input data. Our combination of software engineering expertise and exceptional user experience design resulted in a powerful but easy to use app that the organization continually raves about.</p>

<p>The new system has dramatically improved the management of the program. Volunteers can now be quickly trained to input data and staff can devote a larger portion of their time to helping more families.</p>

<h2 id="future-steps">Future Steps</h2>
<p>WisdomGroup has served ReVive Center since 2001. We look forward to continually developing great software that allows the agency to advance their mission of restoring hope and preventing homelessness.</p>

    </section>
    
    <aside>
      <figure>
  <a href="/assets/51ae47968ad7ca7da80017e8/csc_families.png" title="The system is intuitive, and volunteers pick it up in a snap. They can begin serving families immediately."><img src="/assets/51ae47968ad7ca7da80017e8/cs_thumb/csc_families.png" alt="Screenshot of a list of families in the Christmas Baskets app." width="260" /></a>
  <figcaption>The system is intuitive, and volunteers pick it up in a snap. They can begin serving families immediately.</figcaption>
</figure>

<blockquote>
<figure>
The WisdomGroup team assigned to our account gives us everything we ask for and anticipates what we haven't asked for. WisdomGroup is our IT.
<figcaption>Kevin McCullough, Chief Operating Officer</figcaption>
</figure>
</blockquote>
 
<figure>
  <a href="/assets/51ae47978ad7ca7a9a000adf/csc_family.png" title="Information is secure, yet readily available to managers with the right access credentials."><img src="/assets/51ae47978ad7ca7a9a000adf/cs_thumb/csc_family.png" alt="Screenshot of a family record in the Christmas Baskets app." width="260 "  /></a>
  <figcaption>Information is secure, yet readily available to managers with the right access credentials.</figcaption>
</figure>

<figure>
  <a href="/assets/51ae47998ad7ca7a9a000b18/csc_reports.png" title="Volunteers can serve the agency from the comfort of home, because the entire application is based on the web."><img src="/assets/51ae47998ad7ca7a9a000b18/cs_thumb/csc_reports.png" alt="Screenshot of the report interface in the Christmas Baskets app." width="260"/></a>
  <figcaption>Volunteers can serve the agency from the comfort of home, because the entire application is based on the web.</figcaption>
</figure>
    </aside>
  </div>
  
  {% include footer_case_study.html %}

</article>

</main>

  {% include footer_contact.html %}
</body>
</html>
