---
---
{% include head.html %}

  <head>    
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        Singles Travel International - WisdomGroup
    </title>
    
  </head>
  <body>
    
  <header>
    <h1>
      <a href="/" class="ir">WisdomGroup</a>
    </h1>

    {% include navigation.html %}

  </header>
  
  <main>

<article class="cs singles-travel-international">
  <header>
    <h1>Singles Travel International</h1>
    <p>Singles Travel International (STI) targets a niche in the travel market: Singles who travel alone. STI solves their problems by gathering travelers into groups and negotiating superior deals. STI needed a better way to manage client relationships.</p>
  </header>
  
  <div>
    <section>
      <h2 id="challenge">Challenge</h2>
<p>Singles Travel International is a thriving company. But an aging Ruby on Rails application that customers use to browse and book trips, had become a barrier to expansion. WisdomGroup was brought in to modernize the app and help move the business forward.</p>

<p>STI delivers outstanding customer service. Most of their customers interact with the company via the web. Therefore, STI’s web app must remain stable, robust, and easy-to-use every day of the year.</p>

<p>After analyzing the existing state of the application, WisdomGroup uncovered several troubling issues with the app’s architecture and server setup. An inefficient code deployment process meant that changes to the app took nearly an hour to deploy to the web. A single server environment with no redundancy or backups left the company vulnerable to availability issues and possible loss of data.</p>

<h2 id="solution">Solution</h2>
<p>Our first priority was to get the app on a strong footing. We started by moving to a robust, multi-server environment powered by Amazon.com’s cloud computing platform. In the event of a server failure, a recovery system can redirect traffic to a healthier server while automatically replacing the ailing server. A revamped deployment process allows code changes to be pushed live within just a few minutes.</p>

<p>With a better server architecture in place, our user experience team began identifying areas of improvement in the design of the application. Since the process of booking a trip is vitally important to the business, we conducted a thorough usability analysis of the booking process. Our review identified poor design patterns that were confusing and common causes of customer abandonment. Our team responded by designing an entirely new trip booking process that dramatically improves the experience of booking a trip. The new design has helped lead to higher sales and happier customers.</p>

<h2 id="future-steps">Future Steps</h2>
<p>WisdomGroup is proud to have formed a strong, multi-year relationship with Singles Travel International. Our team continues to actively maintain and improve the app with new technology and solutions that help grow the company.</p>

    </section>
    
    <aside>
      <figure>
 <a href="/assets/51ae4a6a7a50727072002b61/sti_analysis.png" title="Every design decision is driven by the needs of the business. The goal: To make it very easy for STI's customers to spend money."><img src="/assets/51ae4a6a7a50727072002b61/cs_thumb/sti_analysis.png" alt="Screenshot from a usability analysis of STI's former trip booking interface." width="260"></a>
 <figcaption>Every design decision is driven by the needs of the business. The goal: To make it very easy for STI's customers to spend money.</figcaption>
</figure>

<blockquote>
<figure>WisdomGroup's approach is a very good fit for us because their team is reliable and responsive. They meet with us regularly to get a read on the pulse of our business and provide creative but clear paths to excellent results. As we grow, WisdomGroup will be on our side and knowing that they are part of our team helps me sleep at night.
<figcaption>Tammy Weiler, President</figcaption>
</figure>
</blockquote>

<figure>
 <a href="/assets/51ae4a6b7a50727072002b7d/sti_booking.png" title="WisdomGroup designed an entirely new booking process. The result: Higher sales and happier customers."><img src="/assets/51ae4a6b7a50727072002b7d/cs_thumb/sti_booking.png" alt="Screenshot of STI's new trip booking interface." width="260"></a>
 <figcaption>WisdomGroup designed an entirely new booking process. The result: Higher sales and happier customers.</figcaption>
</figure>

<figure>
 <a href="/assets/51ae4a6b7a50727072002b9a/sti_review.png" title="Customers trust companies that present pricing in a crystal clear way. When trust is established, repeat business follows."><img src="/assets/51ae4a6b7a50727072002b9a/cs_thumb/sti_review.png" alt="Screenshot of STI's review page during the trip booking process." width="260"></a>
 <figcaption>Customers trust companies that present pricing in a crystal clear way. When trust is established, repeat business follows.</figcaption>
</figure>
    </aside>
  </div>
  
  {% include footer_case_study.html %}

</article>

</main>

  {% include footer_contact.html %}
</body>
</html>
