  <footer>
    
    <ul class="cs_nav">
      
        <li class="singles-travel-international ">
          <a href="http://wisdomgroup.com/case-studies/singles-travel-international/"><h1>Online Commerce</h1><img src="/assets/57b32fcbedb2f37e770a3f4b/airplane.svg"></a>
          Singles Travel International
        </li>
      
        <li class="texas-am-university active">
          <a href="http://wisdomgroup.com/case-studies/texas-am-university/"><h1>High Performance Computing</h1><img src="/assets/57b35c0dedb2f37e770a5446/mesh.svg"></a>
          Texas A&M University
        </li>
      
        <li class="cathedralshelter ">
          <a href="http://wisdomgroup.com/case-studies/cathedralshelter/"><h1>Client Management</h1><img src="/assets/57b32fdfd4c96104690a306e/gift.png"></a>
          ReVive Center for Housing and Healing
        </li>
      
    </ul>
  </footer>
