  <footer>
    
    <ul class="cs_nav">
      
        <li class="singles-travel-international ">
          <a href="/case-studies/singles-travel-international/"><h1>Online Commerce</h1><img src="/assets/airplane.svg"></a>
          Singles Travel International
        </li>
      
        <li class="texas-am-university active">
          <a href="/case-studies/texas-am-university/"><h1>High Performance Computing</h1><img src="/assets/mesh.svg"></a>
          Texas A&M University
        </li>
      
        <li class="cathedralshelter ">
          <a href="/case-studies/cathedralshelter/"><h1>Client Management</h1><img src="/assets/gift.png"></a>
          ReVive Center for Housing and Healing
        </li>
      
    </ul>
  </footer>
