</main>

<footer id="contact">
  <div>
    <section id="contact_wrap">
      <p>Fastest way to reach WisdomGroup? This form, right here.</p>

      {% include 'contact' %}
    </section>

    <dl>
      <dt>Phone</dt>
      <dd>+1.312.842.2200</dd>

      <dt>Mailing Address</dt>
      <dd>WisdomGroup<br>
      27 North Wacker Drive, Suite 406<br>
      Chicago, IL 60606-2800<br>
      USA
      </dd>

      <dt>Meeting Address (no mail)</dt>
      <dd>WisdomGroup<br>
      2 North LaSalle Street<br>
      Suite 1400 (within <a href="http://grindspaces.com">Grind</a>)<br>
      Chicago, IL<br>
      USA
      </dd>
      
      <dt>Developers & Makers</dt>
      <dd>For <a href="http://windycityrails.com">Ruby on Rails</a>, visit <a href="http://windycityrails.com">WindyCityRails</a>.<br/>
      For the <a href="http://windycitythings.com">Internet of Things</a>, visit <a href="http://windycitythings.com">WindyCityThings</a>.</dd>
    </dl>

    <ul class="social">
      <li><a class="twitter" href="http://twitter.com/wisdomgroup">Twitter</a></li>
      <li><a class="github" href="http://github.com/wisdomgroup">GitHub</a></li>
      <li><a class="lanyrd" href="http://lanyrd.com/series/windycityrails">Lanyrd</a></li>
      <li><a class="vimeo" href="http://vimeo.com/chicagoruby">Vimeo</a></li>
    </ul>

    <section class="copyright">
      <a class="ir" href="http://wisdomgroup.com">WisdomGroup</a>
      <p>Copyright &copy; 2016 WisdomGroup. All Rights Reserved.</p>
    </section>
 </div>
</footer>

<script>
  var _gaq=[["_setAccount","UA-330946-1"],["_trackPageview"]];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
  g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
  s.parentNode.insertBefore(g,s)}(document,"script"));
</script>

</body>
</html>
