<footer class="footer-events" id="contact">
  <div>
  <center>
      <p style="color:#999">8th Light acquired WisdomGroup in September 2016. <a href="/8thlight" style="color:#999">Details</a></p>

      <p style="color:#999">For Developers + Makers:<br/>

          <a href="http://windycityrails.com" style="color:#999;">WindyCityRails</a> is an annual gathering for all who are passionate about <a href="http://windycityrails.com"  style="color:#999;">Ruby on Rails</a>.<br/>
          <a href="http://windycitythings.com" style="color:#999">WindyCityThings</a> will equip you to master the <a href="http://windycitythings.com" style="color:#999">Internet of Things</a> and make IoT work for you.<br/>
          <a href="http://scna.softwarecraftsmanship.com/" style="color:#999">SCNA</a> is for software professionals who are on a quest to take their skills to the next level.<br/>
          <a href="http://chicagoruby.org" style="color:#999">ChicagoRuby</a> is a place where Ruby enthusiasts mingle and share ideas.<br/>
        </p>
 </center>

    <section class="copyright">
      <a class="ir" href="http://wisdomgroup.com">WisdomGroup</a>
      <p>Copyright &copy; 2016 WisdomGroup. All Rights Reserved.</p>
    </section>
 </div>

</footer>

<!-- Google Analytics (beginning) -->
<script>
  var _gaq=[["_setAccount","UA-330946-1"],["_trackPageview"]];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
  g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
  s.parentNode.insertBefore(g,s)}(document,"script"));
</script>
<!-- Google Analytics (end) -->


<!-- gh-pages version (/_includes/footer_contact.html) -->
