<footer id="contact">
  <div>

    <center>
      <p>8th Light acquired WisdomGroup in September 2016. <a href="/8thlight">Details</a></p>

      For Developers + Makers:<br/>
      <a href="http://windycityrails.com">WindyCityRails</a> &#8226; <a href="http://scna.softwarecraftsmanship.com/">SCNA</a> &#8226; <a href="http://windycitythings.com">WindyCityThings</a>

      <br/>
      <a href="">8th Light acquired WisdomGroup in September 2016. Details
        <ul>
          <li><a href="http://windycityrails.com">WindyCityRails</a> - Annual gathering for all who are passionate about Ruby on Rails.</li>
          <li><a href="http://windycitythings.com">WindyCityThings</a> - Master the Internet of Things and make IoT work for you.</li>
          <li><a href="http://scna.softwarecraftsmanship.com/">SCNA</a> - For software professionals who are ready to improve their craft.</li>
        </ul>
    </center>

    <section class="copyright">
      <a class="ir" href="http://wisdomgroup.com">WisdomGroup</a>
      <p>Copyright &copy; 2016 WisdomGroup. All Rights Reserved.</p>
    </section>
 </div>
</footer>

<!-- Google Analytics (beginning) -->
<script>
  var _gaq=[["_setAccount","UA-330946-1"],["_trackPageview"]];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
  g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
  s.parentNode.insertBefore(g,s)}(document,"script"));
</script>
<!-- Google Analytics (end) -->


<!-- gh-pages version (/_includes/footer_contact.html) -->
