<footer id="contact">
  <div>
    <section id="contact_wrap">
      <p>Fastest way to reach WisdomGroup? This form, right here.</p>

              <form id="contact_form" method="post" action="/case-studies/singles-travel-international/#contact_form">
          <input type="hidden" name="form_id" value="51a780e8aa707a036c00019d"/>
          
  
    
      <ol>
        <li>
          <label for="form_custom_data_name_value">Name</label>
          <input id="form_custom_data_name_value" name="form[custom_data][name][value]" type="text" />
        </li>
      
        <li>
          <label for="form_custom_data_email_value">Email</label>
          <input id="form_custom_data_email_value" name="form[custom_data][email][value]" type="text" />
        </li>
      
        <li>
          <label for="form_custom_data_message_value">Message</label>
          <textarea cols="60" id="form_custom_data_message_value" name="form[custom_data][message][value]" rows="4">
</textarea>
        </li>
      
        <li>
          <input type="submit" name="submit" value="Submit" />
        </li>
      </ol>
  

        </form>
        <script type="text/javascript">
          var contact_form_javascript_field = document.createElement("input");
          contact_form_javascript_field.type = "hidden";
          contact_form_javascript_field.name = "form[javascript]";
          contact_form_javascript_field.value = "true";
          document.getElementById("contact_form").appendChild(contact_form_javascript_field);
        </script>

    </section>

    <dl>
      <dt>8th Light Acquires WisdomGroup</dt>
      <dd>8th Light acquired WisdomGroup in<br/>
      September 2016. <a href="/8thlight">Learn more about<br/>
      the acquisition</a>.<br>
      </dd>
      
      <dt>Developers & Makers</dt>
      <dd>For <a href="http://windycityrails.com">Ruby on Rails</a> in Chicago, 
      visit<br/><a href="http://windycityrails.com">WindyCityRails</a>. For the 
      <a href="http://windycitythings.com">Internet of Things</a>,<br/>
      visit <a href="http://windycitythings.com">WindyCityThings</a>.</dd>
    </dl>

    <ul class="social">
      <li><a class="twitter" href="http://twitter.com/wisdomgroup">Twitter</a></li>
      <li><a class="github" href="http://github.com/wisdomgroup">GitHub</a></li>
      <li><a class="lanyrd" href="http://lanyrd.com/series/windycityrails">Lanyrd</a></li>
      <li><a class="vimeo" href="http://vimeo.com/chicagoruby">Vimeo</a></li>
    </ul>

    <section class="copyright">
      <a class="ir" href="http://wisdomgroup.com">WisdomGroup</a>
      <p>Copyright &copy; 2016 WisdomGroup. All Rights Reserved.</p>
    </section>
 </div>
</footer>

<script>
  var _gaq=[["_setAccount","UA-330946-1"],["_trackPageview"]];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
  g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
  s.parentNode.insertBefore(g,s)}(document,"script"));
</script>

