<!--[if lt IE 8 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>       <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8><!--> <html class="no-js"> <!--<![endif]-->
  <head>    
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
      {% if item.title != "Home" %}
        {{ item.title }} - WisdomGroup
      {% else %}
        WisdomGroup - Chicago Ruby on Rails. Web Apps. iPhone Apps. iPad Apps.
      {% endif %}
    </title>
    
    <meta name="description" content="WisdomGroup builds web and mobile apps.">
    
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/ico" />
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />
    
    <!-- CSS -->
    <link rel="stylesheet" href="/public/css/poole.css">

    <link href='http://fonts.googleapis.com/css?family=Lora:400,400italic|Ubuntu:400,500,700|Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    {{ 'style,fancybox' | stylesheets }}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    {{ 'modernizr,fancybox,script' | javascripts }}
  </head>
  <body>
    
  <header>
    <h1>
      <a href="/" class="ir">WisdomGroup</a>
    </h1>

    <nav>
      <ul id="nav">
        <li id="nav-case">
          <a href="/#case_studies">Case Studies</a>
        </li>
        <li id="nav-teamwork">
          <a href="/#teamwork">Teamwork</a>
        </li>
        <li id="nav-community">
          <a href="/#community">Community</a>
        </li>
        <li id="nav-words">
          <a href="/#words">Words Of</a>
        </li>
        <li id="nav-contact">
         <a href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
  </header>
  
  <main>
