---
---
{% include head.html %}
  <head>    
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        10,000 Hours of Practice - WisdomGroup
    </title>
  </head>
  <body>
    
  <header>
    <h1>
      <a href="/" class="ir">WisdomGroup</a>
    </h1>
    {% include navigation.html %}
  </header>
  
  <main>

<article class="words ">
  
    <header>
      <img src="/assets/10_000hrs.svg">
      <h1>10,000 Hours of Practice</h1>
    </header>
  <div> 
    <p>In the book <cite>Outliers</cite>, author Malcolm Gladwell says that it takes roughly ten thousand hours of practice to achieve mastery in a field. How does Gladwell arrive at this conclusion? And, if the conclusion is true, how can we leverage this idea to achieve greatness in our professions?</p>

<p>Gladwell studied the lives of extremely successful people to find out how they achieved success. This article will review a few examples from Gladwell’s research, and conclude with some thoughts for moving forward.</p>

<h2 id="violins-in-berlin">Violins in Berlin</h2>
<p>In the early 1990s, a team of psychologists in Berlin, Germany studied violin students. Specifically, they studied their practice habits in childhood, adolescence, and adulthood. All of the subjects were asked this question: “Over the course of your entire career, ever since you first picked up the violin, how many hours have you practiced?”</p>

<p>All of the violinists had begun playing at roughly five years of age with similar practice times. However, at age eight, practice times began to diverge. By age twenty, the elite performers averaged more than 10,000 hours of practice each, while the less able performers had only 4,000 hours of practice.</p>

<p>The elite had more than double the practice hours of the less capable performers.</p>

<h2 id="natural-talent-not-important">Natural Talent: Not Important</h2>
<p>One fascinating point of the study: No “naturally gifted” performers emerged. If natural talent had played a role, we would expect some of the “naturals” to float to the top of the elite level with fewer practice hours than everyone else. But the data showed otherwise. The psychologists found a direct statistical relationship between hours of practice and achievement. No shortcuts. No naturals.</p>

<h2 id="sneaking-out-to-write-code">Sneaking Out to Write Code</h2>
<p>You already know how Microsoft was founded. Bill Gates and Paul Allen dropped out of college to form the company in 1975. It’s that simple: Drop out of college, start a company, and become a billionaire, right? Wrong.</p>

<p>Further study reveals that Gates and Allen had thousands of hours of programming practice prior to founding Microsoft. First, the two co-founders met at Lakeside, an elite private school in the Seattle area. The school raised three thousand dollars to purchase a computer terminal for the school’s computer club in 1968.</p>

<p>A computer terminal at a university was rare in 1968. Gates had access to a terminal in eighth grade. Gates and Allen quickly became addicted to programming.</p>

<p>The Gates family lived near the University of Washington. As a teenager, Gates fed his programming addiction by sneaking out of his parents’ home after bedtime to use the University’s computer. Gates and Allen acquired their 10,000 hours through this and other clever teenage schemes. When the time came to launch Microsoft in 1975, the two were ready.</p>

<h2 id="practice-makes-improvement">Practice Makes Improvement</h2>
<p>In 1960, while they were still an unknown high school rock band, the Beatles went to Hamburg, Germany to play in the local clubs.</p>

<p>The group was underpaid. The acoustics were terrible. The audiences were unappreciative. So what did the Beatles get out of the Hamburg experience? Hours of playing time. Non-stop hours of playing time that forced them to get better.</p>

<p>As the Beatles grew in skill, audiences demanded more performances – more playing time. By 1962 they were playing eight hours per night, seven nights per week. By 1964, the year they burst on the international scene, the Beatles had played over 1,200 concerts together. By way of comparison, most bands today don’t play 1,200 times in their entire career.</p>

<h2 id="falling-in-love-with-practice">Falling in Love With Practice</h2>
<p>The elite don’t just work harder than everybody else. At some point the elites fall in love with practice to the point where they want to do little else.</p>

<p>The elite software developer is the programmer who spends all day pounding code at work, and after leaving work she writes open source software on her own time.</p>

<p>The elite football player is the guy who spends all day on the practice field with his teammates, and after practice he goes home to watch game films.</p>

<p>The elite physician listens to medical podcasts in the car during a long commute.</p>

<p>The elites are in love with what they do, and at some point it no longer feels like work.</p>

<h2 id="whats-next">What’s Next?</h2>
<p>Now that we’ve reviewed the trends uncovered by Gladwell’s research, what can we do about it? All of us want to be great at something. Now that we know how other achievers have gotten there, what can we do to join their ranks?</p>

<p>One approach: We could choose a field and practice for 10,000 hours. If we are currently working in our target profession, forty hours per week over five years would give us ten thousand hours.</p>

<p>Or… We can look at the question in reverse. Where have we already logged 10,000 hours of practice? What is it that we do really well? What tasks do we perform so well that people ask: How did you do that? Sometimes when we fall in love with practice we don’t even recognize it!</p>

<p>If you’re running a company, what does your company do better than anybody else? What is it that the individual members of your company do better than anybody? How do you create an environment that gives everyone on your team the opportunity to practice?</p>

<h2 id="conclusion">Conclusion</h2>
<p>Business is tough, especially now. Yet even in the midst of a challenging economy, there are individuals and companies that prosper beyond all expectations. Practice plays a major role in success.</p>

<h2 id="suggested-reading">Suggested Reading</h2>
<p><cite>Outliers</cite>, by Malcolm Gladwell. Through interviews and statistical analysis, Gladwell determines why some people and organizations achieve success far beyond their peers.</p>

<h2 id="about-the-blog-author">About the Blog Author</h2>
<p><a href="http://rayhightower.com">Raymond T. Hightower</a> is president of WisdomGroup, a software company that creates apps for the web. WisdomGroup leads the open source user group <a href="http://chicagoruby.org">ChicagoRuby</a>, and we created conferences for Ruby on Rails (<a href="http://windycityrails.com">WindyCityRails</a>) and the Internet of Things (<a href="http://windycitythings.com">WindyCityThings</a>). For more information, visit <a href="http://wisdomgroup.com">WisdomGroup.com</a>. Icon created by Freepik.</p>

  </div>
</article>

</main>

{% include footer_contact.html %}
</body>
</html>
