---
---
{% include head.html %}

  <body>
    
  <header>
    <h1>
      <a href="/" class="ir">WisdomGroup</a>
    </h1>

    {% include navigation.html %}
  </header>
  
  <main>

<article class="words eightlight">
    <header>
      <img src="/assets/8thlight_color.svg" style="margin-top: 1rem; margin-bottom: 1rem;">
      <h1>8th Light Acquires WisdomGroup</h1>
    </header>
  <div> 
    <p>WisdomGroup is excited to announce the next chapter in our company’s long history of innovation: We have been acquired by 8th Light, and will begin working with their team of software crafters and designers immediately.</p>

<p>Throughout our 21 years as a company, we have worked with some amazing clients and produced a lot of work we’re very proud of. As technology has changed, we have consistently embraced opportunities to change focus and do new, exciting work.</p>

<p>We founded WisdomGroup in 1994 to do local-area network installations, before shifting focus to web-based development, and more recently we’ve worked with advanced tech such as parallelism and IoT.</p>

<p>This acquisition allows us to continue this tradition of seeking new and exciting work opportunities, and begin a new period in both of our careers.</p>

<h2 id="why-be-acquired">Why be acquired?</h2>

<p>There are two primary reasons why we decided to join 8th Light.</p>

<p>We are a small company, and our size limits the types of projects we can take on. We found ourselves excited and inspired by potential engagements that came across our desks, but knew we lacked the bandwidth to fulfill them adequately. By joining 8th Light’s team, we escape those limitations. We are very proud of the work we’ve done over the last 21 years. With this move, we assure that we’ll continue to be inspired and proud of our work for the next 21 years.</p>

<p>We didn’t want to partner with just any software company, though. For 10 years, 8th Light has been a leader in the community, and has continually delivered impressive, high-quality software products. 8th Light’s bias toward continual learning on their team and their commitment to building high-quality products matches directly to our own passions and interests.</p>

<h2 id="whats-next">What’s next?</h2>

<p>We are going to continue to learn, and continue to partner with clients to build great software products.</p>

<p>This acquisition will not impact any of our user groups or conferences, including <a href="https://chicagoruby.org">ChicagoRuby</a>, <a href="https://windycityrails.com">WindyCityRails</a>, <a href="https://windycitythings.com">WindyCityThings</a>, <a href="http://rubycaribe.com">RubyCaribe</a>, and <a href="http://www.meetup.com/LinuxBarbados/">LinuxBarbados</a>. As each of these continue to develop and grow, 8th Light’s platform will help us support these efforts, and will likely allow us to provide even better experiences for our members.</p>

<p>We have a long history of admiration for and collaboration with 8th Light, and we foresee virtually zero drawbacks to our formal partnership. This acquisition allows us to immediately expand our services, advance our careers, and join new software communities, without sacrificing our passion for innovation or our dedication to helping businesses create high quality solutions.</p>

<p>You can learn more about 8th Light on <a href="https://8thlight.com">our website</a> and <a href="https://8thlight.com/blog/">our blog</a>. You can also learn more about our <a href="https://8thlight.com/services/">services</a>, and <a href="https://8thlight.com/contact/">contact us</a>. We’re looking forward to working with you!</p>

  </div>
</article>

</main>
{% include footer_contact.html %}
</body>
</html>
