---
---
{% include head.html %}

  <head>    
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
      
        Texas A&M University - WisdomGroup
      
    </title>
    
  <body>
    
  <header>
    <h1>
      <a href="/" class="ir">WisdomGroup</a>
    </h1>

    <nav>
      <ul id="nav">
        <li id="nav-case">
          <a href="/#case_studies">Case Studies</a>
        </li>
        <li id="nav-teamwork">
          <a href="/#teamwork">Teamwork</a>
        </li>
        <li id="nav-community">
          <a href="/#community">Community</a>
        </li>
        <li id="nav-words">
          <a href="/#words">Words Of</a>
        </li>
        <li id="nav-contact">
         <a href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
  </header>
  
  <main>

<article class="cs texas-am-university">
  <header>
    <h1>Texas A&M University</h1>
    <p>Engineering professors at Texas A&M University (TAMU) work with the next generation of supercomputers: Systems with 100,000 processors or more. The professors needed a better way to manage and share research results with colleagues.</p>
  </header>
  
  <div>
    <section>
      <h2 id="challenge">Challenge</h2>
<p>Today’s computers employ parallel processing so that they can do more than one thing at a time. The laptops and tablets we use every day typically contain two or four processors working together as we browse the web, check email, and perform other tasks.</p>

<p>Two or four processors are not enough for the TAMU professors. The TAMU team joined forces with the University of Tennessee and Virginia Tech, secured funding from the National Science Foundation, and they went to work. Their mission: To analyze the performance and power requirements of applications running on massively parallel systems. Creating the future is all about taking calculated risks, conducting experiments, measuring results, and then taking the next risk based on what was learned in earlier experiments.</p>

<p>The Multiple Metrics Modeling Infrastructure (MuMMI) project team measures, models, and predicts the performance of massively parallel systems. Researchers explore trade-offs between performance, power, and cost as they compare various experimental designs.</p>

<p>Experiments with 100,000-processor parallel systems generate a large volume of data, which the professors stored in a PostgreSQL database. Sifting through raw data is not the best use of a PhD’s time. Smart people need to focus on identifying trends, spotting surprises, and making decisions. The profs asked WisdomGroup to build a system to handle data management and visualization for MuMMI.</p>

<h2 id="solution">Solution</h2>
<p>After examining the data in MuMMI’s existing database, WisdomGroup built an entirely new Ruby on Rails application for the team. Through a combination of development and design expertise, WisdomGroup delivered a solution that serves the professors and saves them time. </p>

<p>Every professor on the research team can leverage the brainpower of their colleagues through shared data. Newer members of the team now have immediate access to historical data, which enables them to make better decisions about future designs and experiments. </p>

<p>In summary, the new app manages data collection and visualization so that the professors can focus on more important tasks: Creating the fastest computers on the planet.</p>

<h2 id="future-steps">Future Steps</h2>
<p>TAMU’s relationship with WisdomGroup is ongoing. The team has asked WisdomGroup to build a native iPad companion for the Ruby on Rails app, along with applications for additional research areas.</p>

    </section>
    
    <aside>
      <figure>
  <a href="/assets/tamu_apps.png" title="Researchers can view the entire list of experimental data at a glance, and they can drill down at will."><img src="/assets/cs_thumb/tamu_apps.png" alt="Screenshot of a list of applications in MuMMI app." width="260"></a>
  <figcaption>Researchers can view the entire list of experimental data at a glance, and they can drill down at will.</figcaption>
</figure>

<blockquote>
<figure>
Over the past 10 years, we have collected significant amounts of performance data about parallel systems into a central database.  WisdomGroup built an application that allows the community to easily access the data and to view the data in new and innovative ways.
<figcaption>Dr. Valerie E. Taylor</figcaption>
</figure>
</blockquote>
    
 <figure>
  <a href="/assets/tamu_graph.png" title="Scatter diagrams make it easier to spot relationships between sets of data."><img src="/assets/cs_thumb/tamu_graph.png" alt="Screenshot of a graph generated by the MuMMI app." width="260"></a>
  <figcaption>Scatter diagrams make it easier to spot relationships between sets of data.</figcaption>
</figure>

<blockquote>
<figure>
The application developed by WisdomGroup allows MuMMI to stand out as a community tool for performance analysis and modeling for multiple metrics.
<figcaption>Dr. Xingfu Wu</figcaption>
</figure>
</blockquote>
    
<figure>
  <a href="/assets/tamu_run.png" title="Humans are visual. Tables of data hide important trends. But when data is presented visually, decisions are clear."><img src="/assets/cs_thumb/tamu_run.png" alt="Screenshot of run data in the MuMMI app." width="260"></a>
  <figcaption>Humans are visual. Tables of data hide important trends. But when data is presented visually, decisions are clear.</figcaption>
</figure>
    </aside>
  </div>

  {% include cs_footer.html %}

</article>

</main>

<footer id="contact">
  <div>
    <section id="contact_wrap">
      <p>Fastest way to reach WisdomGroup? This form, right here.</p>

              <form id="contact_form" method="post" action="/case-studies/texas-am-university/#contact_form">
          <input type="hidden" name="form_id" value="51a780e8aa707a036c00019d"/>
          
  
    
      <ol>
        <li>
          <label for="form_custom_data_name_value">Name</label>
          <input id="form_custom_data_name_value" name="form[custom_data][name][value]" type="text" />
        </li>
      
        <li>
          <label for="form_custom_data_email_value">Email</label>
          <input id="form_custom_data_email_value" name="form[custom_data][email][value]" type="text" />
        </li>
      
        <li>
          <label for="form_custom_data_message_value">Message</label>
          <textarea cols="60" id="form_custom_data_message_value" name="form[custom_data][message][value]" rows="4">
</textarea>
        </li>
      
        <li>
          <input type="submit" name="submit" value="Submit" />
        </li>
      </ol>
  

        </form>
        <script type="text/javascript">
          var contact_form_javascript_field = document.createElement("input");
          contact_form_javascript_field.type = "hidden";
          contact_form_javascript_field.name = "form[javascript]";
          contact_form_javascript_field.value = "true";
          document.getElementById("contact_form").appendChild(contact_form_javascript_field);
        </script>

    </section>

    <dl>
      <dt>8th Light Acquires WisdomGroup</dt>
      <dd>8th Light acquired WisdomGroup in<br/>
      September 2016. <a href="/8thlight">Learn more about<br/>
      the acquisition</a>.<br>
      </dd>
      
      <dt>Developers & Makers</dt>
      <dd>For <a href="http://windycityrails.com">Ruby on Rails</a> in Chicago, 
      visit<br/><a href="http://windycityrails.com">WindyCityRails</a>. For the 
      <a href="http://windycitythings.com">Internet of Things</a>,<br/>
      visit <a href="http://windycitythings.com">WindyCityThings</a>.</dd>
    </dl>

    <ul class="social">
      <li><a class="twitter" href="http://twitter.com/wisdomgroup">Twitter</a></li>
      <li><a class="github" href="http://github.com/wisdomgroup">GitHub</a></li>
      <li><a class="lanyrd" href="http://lanyrd.com/series/windycityrails">Lanyrd</a></li>
      <li><a class="vimeo" href="http://vimeo.com/chicagoruby">Vimeo</a></li>
    </ul>

    <section class="copyright">
      <a class="ir" href="http://wisdomgroup.com">WisdomGroup</a>
      <p>Copyright &copy; 2016 WisdomGroup. All Rights Reserved.</p>
    </section>
 </div>
</footer>

<script>
  var _gaq=[["_setAccount","UA-330946-1"],["_trackPageview"]];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
  g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
  s.parentNode.insertBefore(g,s)}(document,"script"));
</script>

</body>
</html>
