---
---
{% include head.html %}
  <head>    
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        Answers for Business Leaders - WisdomGroup
    </title>
  </head>
  <body>
    
  <header>
    <h1>
      <a href="/" class="ir">WisdomGroup</a>
    </h1>

    {% include navigation.html %}
  </header>
  
  <main>

<article class="words ">
  
    <header>
      <img src="/assets/Answers.svg">
      <h1>Answers for Business Leaders</h1>
    </header>
  <div> 
    <p>As a business leader, you have goals to achieve in a limited amount of time. Will a web app really make money for your company? Or should you focus your time somewhere else? How much money will you need to invest in the project? How long will the project take?</p>

<p>Sometimes, hiring a software developer is overkill. </p>

<h2 id="visualize-your-finished-project">Visualize Your Finished Project</h2>
<p>If you are considering a web app, try this. Close your eyes and visualize your app in a finished state. Customers are happy and money is flowing into your bank account. Think about two key attributes of any software: business logic and frequency of change. What does your app look like?</p>

<ul>
  <li>
    <p><strong>Business Logic</strong>. Business logic is a company’s business model (how the money gets made) reflected in software. Does the app in your vision depend on business logic to function? Example: A simple online brochure requires almost no business logic. But an e-commerce giant like <a href="http://amazon.com">Amazon.com</a> requires extensive business logic related to inventory control, shipping, and customer purchase behavior.</p>
  </li>
  <li>
    <p><strong>Likelihood for Change</strong>. Will the app change often? An online brochure for an investment firm could remain the same for years because it only shows a few items: Firm history, products offered, and office locations. But if the same investment firm wants to engage customers, frequent change is <em>required</em>. To engage customers, the firm may choose to offer current market information, personalized account statements, or investment analysis tailored to each client’s financial goals.</p>
  </li>
</ul>

<figure>
 <img src="/assets/app_help_you_arrow.png" width="344" alt="Graph demonstrating the need for a web or mobile app based on business logic and likelihood for change." />
</figure>

<h2 id="the-simplest-decision">The Simplest Decision</h2>
<p>If the app will make money for your company, build it. If the app will solve a problem, build it. Otherwise, skip the app and do something else.</p>

<p>If you only need an online brochure, then you don’t need WisdomGroup. Here are two great places to get an online brochure:</p>

<ul>
  <li><a href="http://wordpress.org">WordPress</a> offers solid tools for blogging. Many professionals launched their first web presence with Wordpress.  </li>
  <li><a href="http://www.squarespace.com/">Squarespace</a> features some amazing visual templates. And the user interface is simple to use.</li>
</ul>

<p>Tools like Wordpress and Squarespace will let you build your own brochure in less than a week.</p>

<h2 id="budget">Budget</h2>
<p>How much will the project cost, and how long will it take?</p>

<p>If your business idea is in its early stages, then a <a href="http://rayhightower.com/blog/2012/08/31/four-steps-five-minutes/">minimum viable product (MVP)</a> might be helpful. The right MVP will make you smarter about your customers while reducing your financial risk.</p>

<p>Consider a custom software project budgeted at $350,000 or more per year. Money-wise, it makes sense to start with an MVP, a smaller feature set, and a smaller budget of $25,000 to $60,000. The smaller scope enables us to test your idea with real, paying customers. WisdomGroup can deliver initial results (the MVP) in 60 to 90 days.</p>

<h2 id="feed-the-successful-projects">Feed the Successful Projects</h2>
<p>If the MVP succeeds, it will generate money. That’s the time to pump more money into growing the idea. If the MVP fails, figure out what went wrong, change the business model or the app (pivot) and try again. Advantages of this approach:</p>

<ul>
  <li>The odds of success are increased. We learn more about customers with each iteration.</li>
  <li>The impact of failure is reduced, because we only risk a limited amount of money per iteration.</li>
  <li>Every iteration teaches us something useful. Every iteration makes the team smarter about customers, which brings us closer to success.</li>
</ul>

<p>Budgets and business ventures are easier to manage when we break them into bite-sized pieces. </p>

<h2 id="get-smarter-and-succeed-with-an-mvp">Get Smarter and Succeed With an MVP</h2>
<p>Business professionals understand reality. Even if the software is perfect, the business will only succeed if customers buy the product. </p>

<p>For example, <a href="http://en.wikipedia.org/wiki/Webvan">WebVan</a> was a technical success, but it was a business failure. The WebVan software did not attract enough customers. WisdomGroup’s clients avoid that kind of failure by starting small, with an MVP. If the MVP succeeds, you can invest more money to improve the app. The best improvements are driven by <em>paying</em> customers.</p>

<p>WisdomGroup’s MVP approach is a systemized way to get smarter with experience.</p>

<h2 id="maintenance-and-growth">Maintenance and Growth</h2>
<p>Successful software is like a factory that prints money. Factories need maintenance, and the same is true for apps. Once the app is up and running, you can expect to spend $5,000 to $30,000 per month for maintenance. Your actual monthly budget might vary depending on the tasks that your team can handle in-house. Monthly maintenance tasks include:</p>

<ul>
  <li>
    <p>Adding new features. Your business grows because you are always thinking of new ways to serve customers and make money. Some of your ideas can be implemented in software.</p>
  </li>
  <li>
    <p>Dealing with security issues. As long as the bad guys plot fancier attacks, the good guys must work to defeat them.</p>
  </li>
  <li>
    <p>Improving performance. As more people decide to buy from you, your traffic will grow. Heavy traffic can lead to slow responses, and slowness drives customers away. Solution: Just as a highway adds lanes to deal with additional traffic, your app’s infrastructure will need to grow, as well.</p>
  </li>
</ul>

<h2 id="next-step">Next Step</h2>
<p>Custom software is not the answer for every problem. If you would like to have a conversation about options, feel free to <a href="http://www.wisdomgroup.com/blog/answers-for-business-leaders/#contact">contact WisdomGroup</a>. </p>

<p>We look forward to working with you.</p>

<h2 id="about-wisdomgroup">About WisdomGroup</h2>
<p>WisdomGroup builds web applications for great companies, like yours. We lead the open source user group <a href="http://chicagoruby.org">ChicagoRuby</a>, and we created conferences for Ruby on Rails (<a href="http://windycityrails.com">WindyCityRails</a>) and the Internet of Things (<a href="http://windycitythings.com">WindyCityThings</a>). For more information, visit <a href="/">WisdomGroup.com</a>.
Icon created by SimpleIcon.</p>

  </div>
</article>

</main>

{% include footer_contact.html %}
</body>
</html>
