@import url(reset.css);
/* @group CORE ---------------------------------------------------------------------------------- */
body {
  background: url(images/background.png) repeat 0px 0px;
  font-family: 'Open Sans', sans-serif;
  color: #404040; }

/* @end */
/* @group TYPOGRAPHY ---------------------------------------------------------------------------- */
h1 {
  font-family: 'Ubuntu', sans-serif; }

p {
  font-size: 0.9em;
  line-height: 1.6; }

li {
  font-size: 0.7em; }

li p {
  font-size: 1em; }

a {
  color: #404040; }

a:hover {
  color: #B3B3B3; }

/* @end */
/* @group MIXINS --------------------------------------------------------------------------------- */
/* @end */
/* @group HEADER -------------------------------------------------------------------------------- */
body > header {
  width: 940px;
  margin: 0 auto;
  overflow: hidden; }
  body > header h1 {
    margin-top: 0.4em; }
  body > header h1 a {
    float: left;
    width: 215px;
    height: 49px;
    background-image: url(images/wisdomgroup.png); }
  body > header nav ul {
    float: right;
    margin-top: 0.5em;
    padding-left: 0;
    width: 53%; }
  body > header nav a {
    float: left;
    padding: 0 1em;
    color: #63757f;
    font-size: 0.9em;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 1px;
    border-right: 1px solid #dedede; }
  body > header nav a:hover {
    color: #000; }
  body > header nav li:last-child a {
    border-right: none; }

/* @group HOME --------------------------------------------------------------------------------- */
/* -- Intro */
#intro {
  width: 940px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 9em;
  margin-bottom: 5em;
  text-align: center; }
  #intro h1 {
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 0.3em;
    font-size: 3.6em;
    letter-spacing: -3px;
    color: #000; }
  #intro h2 {
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
    font-size: 1.8em;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: -1px;
    color: #8C8C8C; }
  #intro h2.h2-link a {
    text-decoration: none;
    border-bottom: 1px solid #CCC; }
    #intro h2.h2-link a:hover {
      color: #404040;
      border-bottom: 1px solid #000; }

/* -- Case Studies */
#case_studies {
  width: 940px;
  margin: 0 auto;
  overflow: hidden; }
  #case_studies .cs_nav {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    /* Navigation styles in main "Case Studies" section. */ }

/* -- Team Work */
#teamwork {
  width: 900px;
  margin: 0 auto;
  overflow: hidden;
  padding: 2em;
  border-radius: 6px;
  background-color: #FFF;
  -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
  text-align: center;
  margin-top: 6em; }
  #teamwork header {
    margin-bottom: 2em; }
  #teamwork h1 {
    margin: 0.2em 0;
    font-size: 1.9em;
    color: #000;
    letter-spacing: -1px; }
  #teamwork h2 {
    width: 75%;
    margin: 0 auto;
    overflow: hidden;
    font-weight: 300;
    font-size: 1.3em;
    line-height: 1.5;
    color: #9C9C9C; }
  #teamwork h3 {
    margin-bottom: 0.5em;
    font-size: 0.9em;
    color: #F57011;
    text-transform: uppercase; }
  #teamwork section {
    float: left;
    width: 30%;
    margin-right: 5%;
    text-align: left; }
  #teamwork section:last-of-type {
    margin-right: 0; }

/* -- Community */
#community {
  margin-top: 6em;
  margin-bottom: 0;
  padding: 10em 0;
  background: url("images/wcr_lens_blur_new.jpg") no-repeat fixed;
  background-size: cover; }
  #community > div {
    width: 900px;
    margin: 0 auto;
    overflow: hidden;
    padding: 2em;
    border-radius: 6px;
    background-color: #FFF;
    -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
    text-align: center; }
    #community > div header {
      margin-bottom: 2em; }
    #community > div h1 {
      margin: 0.2em 0;
      font-size: 1.9em;
      color: #000;
      letter-spacing: -1px; }
    #community > div h2 {
      width: 75%;
      margin: 0 auto;
      overflow: hidden;
      font-weight: 300;
      font-size: 1.3em;
      line-height: 1.5;
      color: #9C9C9C; }
    #community > div h3 {
      margin-bottom: 0.5em;
      font-size: 0.9em;
      color: #F57011;
      text-transform: uppercase; }
    #community > div section {
      float: left;
      width: 30%;
      margin-right: 5%;
      text-align: left; }
    #community > div section:last-of-type {
      margin-right: 0; }
  #community > div section:nth-of-type(3n+3) {
    margin-right: 0; }
  #community > div section:nth-of-type(4) {
    margin-left: 19%;
    margin-top: 1rem; }
  #community > div section:nth-of-type(5) {
    margin-top: 1rem; }
  #community > div section:nth-of-type(6) {
    margin-top: 1rem; }
  #community .ir {
    min-height: 45px; }
  #community #community_cr .ir {
    background-image: url("images/chicagoruby.png");
    width: 110px;
    height: 40px; }
  #community #community_wcr .ir {
    background-image: url("images/windycityrails.png");
    width: 185px;
    height: 44px; }
  #community #community_rc .ir {
    background-image: url("images/rubycaribe.png");
    width: 211px;
    height: 38px; }
  #community #community_wct .ir {
    background-image: url("images/windycitythings.png");
    width: 218px;
    height: 40px; }
  #community #community_lb .ir {
    background-image: url("images/linuxbarbados.png");
    width: 188px;
    height: 23px; }
  #community #community_events {
    background-color: #fced97;
    width: 27%;
    padding: 0.3em 1.5%;
    border-radius: 2px; }
    #community #community_events h3 {
      margin-bottom: 1em;
      color: #404040;
      text-transform: none; }
    #community #community_events ul {
      padding-left: 1em; }
    #community #community_events a:hover {
      color: #f57011; }

.touch #community {
  /* Background effect doesn't render properly on iOS, 
  so for now we're disabling it on touch-enabled devices. */
  background: none;
  padding: 0; }

/* -- Words of */
#words {
  width: 900px;
  margin: 0 auto;
  overflow: hidden;
  padding: 2em;
  border-radius: 6px;
  background-color: #FFF;
  -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
  text-align: center;
  margin-top: 6em; }
  #words header {
    margin-bottom: 2em; }
  #words h1 {
    margin: 0.2em 0;
    font-size: 1.9em;
    color: #000;
    letter-spacing: -1px; }
  #words h2 {
    width: 75%;
    margin: 0 auto;
    overflow: hidden;
    font-weight: 300;
    font-size: 1.3em;
    line-height: 1.5;
    color: #9C9C9C; }
  #words h3 {
    margin-bottom: 0.5em;
    font-size: 0.9em;
    color: #F57011;
    text-transform: uppercase; }
  #words section {
    float: left;
    width: 30%;
    margin-right: 5%;
    text-align: left; }
  #words section:last-of-type {
    margin-right: 0; }
  #words h2 {
    width: 70%;
    margin: 0 auto;
    overflow: hidden; }
  #words .words_nav {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    margin-left: 5.5%;
    /* Navigation styles in main "Words of" section. */ }

/* @end */
/* @group FOOTER -------------------------------------------------------------------------------- */
body > footer {
  margin-top: 6em;
  padding: 4em 0;
  background: url("images/background_footer.png") repeat 0px 0px;
  color: #d1d1d1; }
  body > footer > div {
    width: 940px;
    margin: 0 auto;
    overflow: hidden;
    position: relative; }
  body > footer a:hover {
    color: #FFF; }
  body > footer p {
    color: #FFF; }
  body > footer #contact_wrap {
    float: left;
    width: 50%;
    margin-right: 3em;
    padding: 1em;
    background-color: rgba(48, 48, 48, 0.45);
    border-radius: 6px; }
    body > footer #contact_wrap .errors {
      padding-left: 0.5em; }
    body > footer #contact_wrap .errors li {
      margin-left: 0.5em;
      margin-bottom: 0.3em !important;
      font-size: 0.5em; }
    body > footer #contact_wrap .message {
      font-weight: bold; }
    body > footer #contact_wrap ol {
      list-style-type: none;
      padding-left: 0;
      margin-bottom: 0; }
    body > footer #contact_wrap li {
      margin-bottom: 1em; }
    body > footer #contact_wrap li:last-child {
      margin-bottom: 0; }
  body > footer label {
    display: block;
    margin-bottom: 0.2em;
    color: #BFBFBF;
    font-weight: normal;
    font-size: 0.7em; }
  body > footer input[type="text"], body > footer input[type="email"], body > footer textarea {
    background-color: #7A7A78;
    border: 1px solid #7A7A7B;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    color: #000; }
  body > footer input[type="submit"] {
    padding: 0.5em 2em;
    border: 1px solid #7a7a7b;
    color: #d1d1d1;
    font-weight: normal;
    font-size: 0.7em;
    background-color: #7a7a7b; }
    body > footer input[type="submit"]:hover {
      background-color: #c9c9c9;
      color: #787878; }
  body > footer dl {
    margin-left: 60%;
    padding-left: 0;
    font-size: 0.8em; }
  body > footer dd {
    margin: 0.3em 0 2em 0;
    font-weight: 300; }
  body > footer dd a {
    color: inherit; }
  body > footer .social {
    position: absolute;
    top: 0;
    right: 0;
    list-style-type: none;
    padding-left: 0; }
  body > footer .social a {
    display: inline-block;
    margin-bottom: 1em;
    padding-left: 40px;
    padding-bottom: 0.5em;
    color: #d1d1d1;
    text-decoration: none;
    background-repeat: no-repeat; }
    body > footer .social a:hover {
      color: #FFF; }
  body > footer .social .twitter {
    background-image: url("images/twitter.png"); }
  body > footer .social .github {
    background-image: url("images/github.png"); }
  body > footer .social .lanyrd {
    background-image: url("images/lanyrd.png"); }
  body > footer .social .vimeo {
    background-image: url("images/vimeo.png"); }
  body > footer .copyright {
    clear: both;
    padding-top: 3em; }
    body > footer .copyright .ir {
      float: left;
      background-image: url("images/wisdomgroup_white.png");
      width: 201px;
      height: 44px; }
    body > footer .copyright p {
      float: right;
      margin-top: 1em;
      font-size: 0.7em;
      color: #5E5E5E; }

/* @end */
/* @group CASE STUDIES ------------------------------------------------------------------ */
/* -- Case Study */
.cs {
  margin: 3em 0; }
  .cs header {
    padding: 1.75em 0;
    text-align: center; }
    .cs header h1 {
      color: #000;
      font-size: 2.625em;
      letter-spacing: -1px; }
    .cs header p {
      width: 810px;
      margin: 0 auto;
      overflow: hidden;
      font-size: 1.3125em;
      /* 21px */
      font-weight: 300;
      color: #FFF; }
  .cs.singles-travel-international header {
    background-color: #e3ad00; }
  .cs.texas-am-university header {
    background-color: #469643; }
  .cs.cathedralshelter header {
    background-color: #4D94CF; }
  .cs > div {
    width: 940px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 3em;
    margin-bottom: 3em; }
  .cs h2 {
    margin-bottom: .75em;
    color: #F57011;
    text-transform: uppercase;
    font-size: 0.875em;
    /* 14px */ }
  .cs p {
    font-weight: 300;
    font-size: 1.1875em;
    /* 19px */
    line-height: 1.7; }
  .cs section {
    float: left;
    width: 59.42492013%;
    /* 558px / 939px */
    padding-right: 5.53780618%;
    /* 52px / 939px */
    border-right: 1px solid #dedede; }
  .cs aside {
    float: right;
    width: 28.75399361%;
    /* 270px / 939px */
    padding-top: 0.9em;
    padding-left: 6.07028754%;
    /* 57px / 939px */ }
  .cs figure {
    margin-bottom: 2em; }
  .cs figure img {
    border: 1px solid #dedede; }
  .cs figcaption {
    margin-top: 0.75em;
    font-size: 0.7em;
    color: #9e9e9e; }
  .cs blockquote {
    position: relative;
    margin: 0;
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 1.0625em;
    color: #f59051;
    line-height: 1.7; }
    .cs blockquote figure:before {
      display: block;
      position: absolute;
      content: "\201C";
      font-size: 5.0em;
      margin: 0;
      top: -0.4em;
      left: -0.47em;
      color: #bababa; }
    .cs blockquote figcaption {
      font-size: 0.9em;
      color: #6e6e6e; }
    .cs blockquote figcaption:before {
      content: "\2014 \2009"; }
  .cs footer {
    width: 800px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center; }

/* -- Case Studies Navigation */
@-webkit-keyframes sti-in {
  0% {
    top: 150px;
    left: -150px; }

  100% {
    top: -10px;
    left: 0; } }

@-webkit-keyframes sti-out {
  0% {
    top: -10px;
    left: 0px; }

  100% {
    top: -150px;
    left: 150px; } }

@keyframes sti-in {
  0% {
    top: 150px;
    left: -150px; }

  100% {
    top: -10px;
    left: 0; } }

@keyframes sti-out {
  0% {
    top: -10px;
    left: 0px; }

  100% {
    top: -150px;
    left: 150px; } }

@-webkit-keyframes texas {
  0% {
    -webkit-transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(720deg); } }

@keyframes texas {
  0% {
    transform: rotate(0deg); }

  100% {
    transform: rotate(720deg); } }

@-webkit-keyframes cs-in {
  0% {
    right: -200px; }

  100% {
    right: -52px; } }

@-webkit-keyframes cs-out {
  0% {
    right: -52px; }

  100% {
    right: -200px; } }

@keyframes cs-in {
  0% {
    right: -200px; }

  100% {
    right: -52px; } }

@keyframes cs-out {
  0% {
    right: -52px; }

  100% {
    right: -200px; } }

.cs_nav {
  overflow: hidden;
  padding: 0;
  list-style-type: none; }
  .cs_nav li {
    float: left;
    width: 29.9%;
    margin-right: 5%;
    padding: 1em 0; }
  .cs_nav li:last-child {
    margin-right: 0; }
  .cs_nav li a {
    width: 200px;
    margin: 0 auto;
    overflow: hidden;
    display: block;
    height: 200px;
    margin-bottom: 0.5em;
    padding-top: 70px;
    text-decoration: none;
    text-align: center;
    color: #000;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    overflow: hidden;
    position: relative; }
  .cs_nav li a h1 {
    position: absolute;
    top: 0;
    font-weight: 400;
    font-size: 1.5em; }
  .cs_nav li.singles-travel-international a h1 {
    width: 85%;
    left: 11px;
    top: 9em; }
  .cs_nav li.texas-am-university a h1 {
    top: 9em; }
  .cs_nav li.cathedralshelter a h1 {
    width: 90%;
    top: 9em; }
  .cs_nav li a h2 {
    position: absolute;
    bottom: 30px;
    width: 100%;
    font-size: 1em;
    font-weight: 400;
    opacity: 0.7;
    text-transform: uppercase;
    text-align: center; }
  .cs_nav li a img {
    position: relative; }
  .cs_nav li.singles-travel-international a img {
    width: 180px;
    height: 180px;
    bottom: 3em; }
  .cs_nav li.texas-am-university a img {
    width: 140px;
    height: 140px;
    bottom: 1.5em; }
  .cs_nav li.cathedralshelter a img {
    width: 180px;
    height: 180px;
    bottom: 3em; }
  .cs_nav li a:hover img {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    transform: scale(1.1); }
  .cs_nav .active {
    border: 1px solid #dedede;
    border-radius: 3px; }

/* @end */
/* @group WORDS OF -------------------------------------------------------------------- */
/* -- Words Of Article */
.words {
  margin-top: 1.5em;
  margin-bottom: -6em;
  padding-bottom: 6em;
  background-color: #FFF;
  background-image: 100%; }
  .words > div {
    width: 650px;
    margin: 0 auto;
    overflow: hidden; }
  .words header {
    margin-bottom: 2em;
    padding-top: 50px; }
    .words header img {
      text-align: center;
      display: block;
      margin: -2em auto -2em; }
  .words h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.4375em;
    text-align: center;
    letter-spacing: -1px;
    word-spacing: -1px;
    text-shadow: 2px 2px 2px #FFFFFF;
    color: #000000; }
  .words h2 {
    margin-bottom: 0.5em;
    font-size: 1em;
    font-weight: 400;
    color: #E66D22; }
  .words p, .words ul, .words ol {
    font-family: 'Lora', serif;
    line-height: 1.6; }
  .words ul, .words ol {
    font-size: 1.0625em; }
  .words li {
    font-size: 1em; }
  .words p {
    font-size: 1.0625em; }
  .words figure {
    text-align: center; }
    .words figure img {
      max-width: 100%; }

.eightlight h2 {
  color: #27A8E0;
  font-size: 1.4em; }

/* -- Words Of Navigation */
.words_nav {
  padding: 0;
  list-style-type: none; }
  .words_nav li {
    float: left;
    width: 30%;
    margin-right: 5%; }
  .words_nav li:last-child {
    margin-right: 0; }
  .words_nav li p {
    text-align: left;
    font-weight: 300;
    font-size: 1.250em; }
  .words_nav h3 a {
    display: block;
    margin-bottom: 0.6em;
    padding-top: 46px;
    font-family: Ubuntu, sans-serif;
    font-size: 2.1em;
    color: #000;
    text-decoration: none;
    text-transform: none;
    letter-spacing: -1px; }
    .words_nav h3 a img {
      text-align: center;
      display: block;
      margin: -3em auto -.5em; }

/* @end */
/* @group LEGACY BROWSERS ----------------------------------------------------------------------- */
.ie8 #teamwork section {
  width: 28%; }

.ie8 #community section {
  width: 27%; }

.ie8 .cs_nav li {
  width: 28%; }

.ie8 .words_nav li {
  width: 28%; }

/* @end */
/* @group MEDIA QUERIES ------------------------------------------------------------------------- */
/* -- 970px / 16px = 60.625em */
@media screen and (max-width: 60.625em) {
  body > header, #intro, #case_studies, #teamwork, #community > div, #words, body > footer > div {
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%; }

  #teamwork, #community div, #words {
    width: 90%;
    margin-left: 2.5%;
    margin-right: 2.5%; }

  #community div section {
    margin-left: 0 !important;
    margin-top: 2em !important; }

  body > header {
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%; }

  body > header nav ul {
    width: 65%;
    margin-top: 0.68em;
    font-size: 1.2em; }

  #intro {
    font-size: 0.85em; }

  .words_nav h3 a {
    font-size: 1.9em; }

  body > footer dl {
    width: 20%; }

  body > footer .social {
    right: 5%; }

  .cs header {
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%; }

  .cs header p {
    width: 100%; }

  .cs > div {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%; }

  .cs figure img {
    width: 98%; }

  .cs footer {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%; }

  .cs .cs_nav li a {
    float: none;
    margin: 1em auto; } }
/* -- 765px / 16px = 47.8125em */
@media screen and (max-width: 47.8125em) {
  body > header h1 a {
    float: none;
    margin: 0 auto; }

  body > header nav ul {
    float: none;
    width: 100%;
    margin: 1em 0;
    font-size: 1.3em;
    text-align: center; }

  body > header nav ul li {
    float: none;
    display: inline-block; }

  #intro {
    margin-top: 3em;
    margin-bottom: 4em;
    font-size: 0.7em; }

  body > footer #contact_wrap {
    float: none;
    width: 95%;
    margin-left: 0;
    margin-right: 2.5%;
    padding-left: 2.5%;
    padding-right: 2.5%; }

  body > footer dl {
    width: 100%;
    margin-top: 2em;
    margin-left: 2.5%; }

  body > footer .social {
    top: 370px; }

  #intro {
    font-size: 0.75em; }

  #intro h1, #intro h2 {
    width: 90%; }

  #case_studies .cs_nav {
    width: 100%; }

  .cs_nav li {
    float: none;
    overflow: hidden;
    width: 95%;
    margin: 0;
    padding: 2em 2.5% 1em 2.5%; }

  .cs_nav li a {
    float: left;
    position: relative;
    top: -20px;
    width: 150px;
    height: 100px;
    margin-right: 5%;
    padding-top: 50px;
    font-size: 0.8em; }

  .cs_nav li.singles-travel-international a h1 {
    top: 0px;
    color: #E3AD00; }

  .cs_nav li.texas-am-university a h1 {
    top: 0px;
    color: #65B553; }

  .cs_nav li.cathedralshelter a h1 {
    top: 0px;
    color: #4D94CF; }

  .cs_nav li a h2 {
    bottom: 20px; }

  .cs_nav li.singles-travel-international a img {
    width: 85px;
    bottom: 3em; }

  .cs_nav li.texas-am-university a img {
    width: 65px;
    bottom: 2em; }

  .cs_nav li.cathedralshelter a img {
    width: 110px;
    height: 105px;
    bottom: .5em; }

  #teamwork > header h2, #community > div > header h2, #words > header h2 {
    width: 95%; }

  #teamwork section, #community > div section, #community #community_events {
    float: none;
    width: 97.5%;
    margin-right: 0;
    margin-top: 2em;
    margin-left: 0; }

  #words .words_nav {
    width: 100%;
    margin-left: 0; }

  .words_nav li {
    float: none;
    width: 95%;
    margin: 1em 2.5%; }

  .words div {
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%; }

  .words h1 {
    font-size: 2em; } }
/* -- 570px / 16px = 35.625em */
@media screen and (max-width: 35.625em) {
  .cs_nav li a {
    top: 0px; } }
/* -- 550px / 16px = 34.375em */
@media screen and (max-width: 34.375em) {
  .cs_nav li a {
    top: 0px; }

  .cs_nav li p {
    margin-left: 5%;
    padding-left: 150px; }

  .cs section {
    float: none;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    border-right: 0; }

  .cs aside {
    float: none;
    width: 70%;
    margin: 0 auto; } }
/* -- 350px / 16px = 21.875em */
@media screen and (max-width: 21.875em) {
  .cs_nav li a {
    float: none;
    margin: 0 auto; }

  .cs_nav li p {
    margin-top: 1em;
    padding-left: 0; }

  #teamwork, #community > div, #words {
    width: 90%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 0;
    border-top: 1px solid #E5E5E5; }

  #community {
    background: none;
    padding: 0; }

  body > footer dl {
    width: 57%; }

  body > footer .social {
    top: 420px; }

  body > footer .copyright .ir {
    float: none;
    margin: 0 auto; }

  body > footer .copyright p {
    float: none;
    margin: 2em 0 0 0;
    text-align: center; } }
/* -- Retina */
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  body {
    background: url(images/background@2x.png);
    background-size: 4px; }

  body > header h1 a {
    background-image: url(images/wisdomgroup@2x.png);
    background-size: 215px; }

  #community #community_cr .ir {
    background-image: url(images/chicagoruby@2x.png);
    background-size: 110px; }

  #community #community_wcr .ir {
    background-image: url(images/windycityrails@2x.png);
    background-size: 185px; }

  #community #community_rc .ir {
    background-image: url(images/rubycaribe@2x.png);
    background-size: 211px; }

  #community #community_wct .ir {
    background-image: url(images/windycitythings@2x.png);
    background-size: 218px; }

  #community #community_lb .ir {
    background-image: url(images/linuxbarbados@2x.png);
    background-size: 188px; }

  .social .twitter {
    background-image: url(images/twitter@2x.png) !important;
    background-size: 25px; }

  .social .github {
    background-image: url(images/github@2x.png) !important;
    background-size: 25px; }

  .social .lanyrd {
    background-image: url(images/lanyrd@2x.png) !important;
    background-size: 25px; }

  .social .vimeo {
    background-image: url(images/vimeo@2x.png) !important;
    background-size: 25px; }

  body > footer .copyright .ir {
    background-image: url(images/wisdomgroup_white@2x.png);
    background-size: 201px; }

  .words_nav h3 a {
    background-image: url(images/blog_250.png);
    background-size: 500px; } }
/* -- Print */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  nav {
    display: none; }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
/* @end */
